<h2>Art Tracker Dashboard</h2>

<p>Use this tool to track where specific works of art are found. Click on the "Museums" button to see a list of museums in the database and the "Artwork" button to see a list of the artwork in the database. From those pages you are also able to add, edit, and delete museums or artwork as well as designate which museums are showing which works of art.</p>

<a href="/museum" class="btn btn-museum" role="button">Museums</a>
<a href="/artwork" class="btn btn-artwork" role="button">Artwork</a>
