<h2>Museums</h2>

</br>
<h3>Add a museum:</h3>
<form action="/museums" method="post">
  <div class="form-group">
    <label for="name">Enter the name of the museum:</label>
    <input id="name" name="name" class="form-control" type="text">
    <label for="location">Enter the location of the museum:</label>
    <input id="location" name="location" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>
</br>

<h3><%= Add artwork to <%= @museum.name() %> </h3>

<form action="/museums" method="post">
  <input id="museum_id" name="museum_id" type="hidden" value="<%= @museum.id() %>">

  <label for="name">Name of artwork:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add artwork</button>
</form>





<a href="/" class="btn btn-home" role="button">Home</a>
